<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> django</title>
</head>
<body>
    <h1>this template is return by django server</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
         Iste reiciendis architecto blanditiis cumque? Aperiam nobis facilis accusantium
         enim exercitationem soluta esse id quos, consequuntur ut.
         Vel repellat temporibus voluptatum similique.</p>
</body>
</html>