{% extends "base.html" %}
{% block start %}
<div class="container mt-5" >
   
    <form class="col-6 mx-auto casd p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>ADD RECEIPE</h2>
       
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Receipe name</label>
          <input type="text" class="form-control"required name="receipe_name">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Receipe description</label>
          <textarea  class="form-control"required name="receipe_description"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Receipe image</label>
            <input type="file" class="form-control" name="receipe_image" required="receipe_image">
          </div>
        <button type="submit" class="btn btn-success">Add Receipe</button>
        
      </form>
     <div class="mt-5">
      <div class="mx-auto col-6">
        <form action="">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">search food</label>
          <input type="text" class="form-control" name="search">
        </div>
        <button type="submit" class="btn btn-primary">search</button></div>
      
    </form>
     </div>
      
      <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Receipe name</th>
            <th scope="col">Receipe des</th>
            <th scope="col">img</th>
            <th scope="col">Actions</th>

          </tr>
        </thead>
        <tbody>
          {% for receipe in receipes %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            
            <td>{{receipe.receipe_name}}</td>
            <td>{{receipe.receipe_description}}</td>
            <td>
              <img src="/media/{{receipe.receipe_image}}" style="height: 100px;" alt="{{receipe.receipe_name}}">
            </td>
            <td>
            <a href="/delete_receipe/{{receipe.id}}">  <button class="btn btn-danger m-2">Delete</button></a>
            <a href="/update_receipe/{{receipe.id}}">  <button class="btn btn-success M-2">update</button></a>
            </td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
</div>
{% endblock %}